In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_breast_cancer 
dataSet = load_breast_cancer() 
data = dataSet.data

In [9]:
df = pd.DataFrame({
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'F', 'M', 'M', 'M', 'F', 'F', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}, index = ['Ana','Benito','Camilo','Daniel','Erika','Paola','Gabriela']) 


# print(df.query("(edad >= 12) & (cm < 130) & (Q1 > 5)")['Q2'])
df[df['genero'] == 'F']['edad'].mean()

11.25

In [14]:
df

          edad   cm pais genero    Q1   Q2
Ana         10  115   co      F   5.0  7.0
Benito       9  110   mx      M  10.0  9.0
Camilo      13  130   co      M   8.0  9.0
Daniel      14  155   mx      M   NaN  8.0
Erika       12  125   mx      F   7.0  8.0
Paola       11  120   ch      F   8.0  8.0
Gabriela    12  125   ch      F   3.0  9.0

In [10]:
print(df.loc[['Ana'],['cm']])

      cm
Ana  115

In [15]:
print(df.iloc[[4],[2]])

      pais
Erika   mx

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=b06e2ad7-2e73-4529-91c1-8e44f8b5881a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>

In [16]:
pd.Series([10,8,5,0]) - pd.Series([0,1,6,12])

0    10
1     7
2    -1
3   -12
dtype: int64

In [17]:
[10,8,5,0] + [0,1,6,12]

[10, 8, 5, 0, 0, 1, 6, 12]