# Curso de Manipulación y Análisis de Datos con Pandas y Python

In [8]:
import pandas as pd

## Series

Conjunto de elementos de datos ordenados.

Se maneja con indexación en las listas manejadas con pandas.

### Indexación implícita

In [9]:
# Indexación
sr = pd.Series([545,396,419,1234,32])
sr

0     545
1     396
2     419
3    1234
4      32
dtype: int64

In [10]:
print(sr.values)
print(sr.index)
print(sr.shape)

[ 545  396  419 1234   32]
RangeIndex(start=0, stop=5, step=1)
(5,)

In [11]:
sr[[4,2]]

4     32
2    419
dtype: int64

### Indexación explícita

In [12]:
sr = pd.Series([545,396,419,1234,32], index=['uno','dos','tres','cuatro','cinco'])
sr

uno        545
dos        396
tres       419
cuatro    1234
cinco       32
dtype: int64

In [13]:
sr['dos']

396

In [14]:
sr['dos':'cuatro']

dos        396
tres       419
cuatro    1234
dtype: int64

### Transformacion Diccionarios en Series

In [15]:
diccionario = {'CO':100, 'MX':200, 'AR':300}

In [20]:
sr = pd.Series(diccionario, index=['CO','MX','PE'])
sr

CO    100.0
MX    200.0
PE      NaN
dtype: float64

In [22]:
sr.isnull()

CO    False
MX    False
PE     True
dtype: bool

In [25]:
sr.notnull()

CO     True
MX     True
PE    False
dtype: bool

`sr.isnull().any()` -> indicar si existe algún valor nulo

`sr[sr.notnull()]` -> tomar los valores no nulos

`sr.isnull().sum()` -> número total de valores nulos

`sr.fillna(<valor>)` -> rellena los valores nulos con el valor dado (string/float)

`sr.dropna()` -> borra todos los registros con al menos un valor nulo

`sr.ffill()` -> rellena el valor nulo con el mismo valor de la fila anterior

`sr.backfill()` -> rellena el valor nulo con el mismo valor de la fila siguiente